<header class="currency-header">
  <div class="container">
    <h1 class="currency-header__title">UAH</h1>
    <div class="currency-header__box">
      <div class="currency-header__currency">
        <img class="currency-header__flag" src="../../assets/usd-flag.png" alt="USA Flag">
        <p class="currency-header__rate">USD: {{ uahToUsd }}</p>
      </div>
      <div class="currency-header__currency">
        <img class="currency-header__flag" src="../../assets/eur-flag.jpg" alt="Europe Flag">
        <p class="currency-header__rate">EUR: {{ uahToEur }}</p>
      </div>
    </div>
  </div>
</header>

